  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  #map {
    touch-action: none;
    -ms-touch-action: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100vh;
    width: 100vw;
    background-color: #000000; /*screen backgroud*/
  }

  /* fixes name labels styling*/
  .coord-label {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    /*color: white; handled by js below*/
    font-size: 10px;
    font-family: sans-serif;
    font-weight: light; /* Thinner font */
    text-align: center;
    opacity: 0.6;
    position: fixed;
    z-index: 1 !important; /* lower than freq-label */
  }
  .coord-label::before {
    display: none !important;
  }

  /* airway name labels styling after button press eg, G462*/
  .airway-label {
    background-color: rgba(65, 75, 85, 0.9) !important;
    /*background: transparent !important;*/
    border: none !important;
    padding: 2px !important;
    margin: 0px !important;
    box-shadow: none !important;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: rgb(246, 195, 52) !important;
    text-shadow: none !important;
    line-height: 1;
    z-index: 500 !important;
  }

  /* ---------Menu bar styling ------on color- "#B4F59D", off color "#c2c2c0"; -----------------*/
  .map-menu-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 3000;
    display: flex;
    gap: 3px;
    padding: 3px;
    background: rgba(75, 89, 97, 0.6);
    backdrop-filter: blur(0.5px);
  }

  /* ------menu button styling (flat look)----- */
  .map-btn {
    padding: 6px 10px;
    font-size: 11.2px;
    color: #e6e6e3;
    cursor: pointer;
    height: 28px;
    width: auto;
    min-width: 45px;
    /*background: transparent;  Remove background */
    background: rgba(75, 89, 97, 1);
    border: 0.5px solid #6a7f71;
    /*border: none;  Remove border */
    border-radius: 14px; /* Remove individual rounding */
  }
  .map-btn:hover {
    background: rgba(110, 144, 148, 0.7);
  }
  /*
  #toggleRunwaysBtn {
    color: #b4f59d;
  }
*/
  #toggleWaypointsBtn {
    color: #b4f59d;
  }
  /* danger Areas button with submenu */
  .map-btn-panel {
    position: relative;
    display: inline-flex;
    flex-direction: column;
  }

  .areas-checkboxes {
    display: none;
    position: absolute;
    top: 116%;
    left: 0;
    min-width: 60px;
    background: rgba(186, 189, 190, 0.95);
    color: #0a3a40;
    padding: 6px;
    margin-top: 1px;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    font-size: 11px;
    font-family: sans-serif;
    z-index: 1002;
  }
  .areas-checkboxes label {
    display: block;
    margin: 2px 0;
  }
  /* Show checkboxes when Areas or Sectors button is active */
  #areasPanel.active .areas-checkboxes,
  #mapLayerPanel.active .areas-checkboxes,
  #sectorPanel.active .sector-checkboxes,
  #sid12_Panel.active .areas-checkboxes {
    display: block;
  }

  #clearAreasBtn.map-btn {
    font-size: 9px;
    padding: 4px 8px;
    height: 20px;
    width: 85px;
    text-align: center;
  }

  /* -------Custom sector-checkboxes style-------- */
  #sectorHeader {
    width: 80px;
    height: 28px;
  }

  .sector-info-group {
    display: flex;
    gap: 3px;
  }

  .sector-btn-wrapper {
    position: relative; /* anchor point */
    display: inline-block;
  }
  .sector-checkboxes {
    position: absolute;
    top: 100%; /* directly below Sectors button */
    left: 0;
    margin-top: 5px;
    margin-left: 1.5px;
    width: 65px;
    display: none;
    background: rgba(45, 59, 71, 0.8);
    color: #d3d3d3;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    font-size: 11px;
    font-family: sans-serif;
    z-index: 1002;
  }
  .sector-checkboxes label {
    display: block;
    margin: 3px 0; /* Slightly more spacing between labels */
  }
  .sector-checkboxes hr {
    margin: 6px 0;
    border-color: #d3d3d3; /* Match text color for consistency */
  }
  /* Ensure sectorPanel is pushed to the far right */
  #sectorPanel {
    margin-left: auto;
  }

  #sectorTablePanel {
    position: absolute;
    background: rgba(45, 59, 71, 0.8);
    cursor: move; /* draggable look */
    z-index: 1000;
  }

  #toolMenu {
    width: 50px;
    color: #6ec4c4;
    border-color: #4d8d8d;
  }

  /*---------------------tool bar---------------*/
  .tool-bar {
    position: fixed;
    top: 38px;
    right: 3px;
    z-index: 3000;
    display: flex;
    flex-direction: column;
    width: 40px;
    gap: 5px;
    padding: 6px;
    background: rgba(75, 89, 97, 0.6);
    border-radius: 24px;
  }

  /* ------tool button styling (flat look)----- */
  .tool-btn {
    padding: 0px 0px;
    font-size: 10px;
    color: #6ec4c4; /*#03F7F7;*/
    cursor: pointer;
    height: 40px;
    width: 40px;
    /*max-width: 40px;*/
    background: rgba(75, 89, 97, 2);
    border: 0.5px solid #029494;
    border-radius: 22px;
  }
  .tool-btn:hover {
    background: rgba(120, 144, 152, 0.7);
  }

  /*----- direction arrow of ariway name ------- */
  .airway-arrow {
    width: 0;
    height: 0;
    display: inline-block;
    margin: 0 2px;
  }

  .airway-arrow.right {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #aa9b5d;
  }

  .airway-arrow.left {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 6px solid #aa9b5d;
  }

  .airway-name-tooltip {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
  }

  .airway-name-inner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", "Segoe UI", sans-serif;
    font-size: 10.2px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;

    color: rgb(163, 163, 90);
    background: rgba(0, 0, 0, 0.65);
    border-radius: 2px;

    transform-origin: center center;
    white-space: nowrap;
  }

  /* --- Crosshair --- */
  #crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    pointer-events: none;
    z-index: 3001;
  }
  #crosshair:before,
  #crosshair:after {
    content: "";
    position: absolute;
    background: #353d4a;
  }
  #crosshair:before {
    left: 9px;
    top: 0;
    bottom: 0;
    width: 1px;
  }
  #crosshair:after {
    top: 9px;
    left: 0;
    right: 0;
    height: 1px;
  }

  #centerCoords {
    background: rgba(55, 65, 75, 0.9);
    position: fixed;
    bottom: 20px;
    right: 2px;
    width: 150px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 14px;
    height: 18px;
    padding: 3px 6px;
    font-size: 11px;
    user-select: text;
    pointer-events: auto;
    z-index: 1000;
  }

  /* --drawing -tools ---------------*/
  .rbl-tooltip {
    background: rgba(0, 0, 0, 0.39);
    border: none;
    color: #fcd78e;
    height: 18px;
    padding: 3px 6px;
    border-radius: 8px;
    box-shadow: none;
    font-size: 12px;
    font-family: monospace;
    z-index: 2001;
  }

  .freq-marker {
    border: none;
    box-shadow: none;
    font-family: monospace;
  }
  .freq-label {
    background: rgba(47, 57, 63, 0.7);
    color: #e6e6de;
    padding: 1px 4px;
    border-radius: 8px;
    font-size: 11px;
    white-space: nowrap;
    position: absolute;
    z-index: 2 !important;
  }

  /*multi point measure line---*/
  .measure-tooltip {
    background: rgba(0, 0, 0, 0.39);
    border: none;
    color: yellow;
    height: 18px;
    padding: 3px 6px;
    border-radius: 8px;
    box-shadow: none;
    font-size: 12px;
    font-family: monospace;
    z-index: 2001;
  }
  /* ---------------text box style-----------------*/
  .text-marker {
    pointer-events: auto;
  }

  .text-box-container {
    position: relative;
    display: inline-block;
  }
  .text-box {
    min-width: 140px;
    min-height: 85px;
    resize: both;
    background: rgba(154, 255, 143, 0.9);
    color: black;
    border: 0.2px solid #7d514f;
    border-radius: 6px;
    padding: 6px 18px 6px 6px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    outline: none;
    z-index: 1000 !important;
    position: relatice;
  }

  .text-box-drag-handle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    cursor: move;
    user-select: none;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
  }

  .text-box-close {
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: 16px;
    /*cursor: pointer;*/
    color: #272323;
    font-weight: bold;
  }

  .text-box-close:hover {
    cursor: pointer;
    color: rgb(230, 10, 10);
  }
  /*-------------------route pair area styling--------------------*/
  /* Modern floating toggle */
  .rp-toggle {
    position: absolute;
    top: 44px;
    left: 171px; /* spawn position (OPEN) */
    z-index: 2000;

    width: 30px;
    height: 28px;
    border-radius: 10px;
    background: rgba(35, 49, 57, 0.7);
    border: 1px solid rgba(97, 128, 138, 0.479);
    backdrop-filter: blur(8px);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.35);
    /*transition: left 180ms ease, transform 120ms ease, background 180ms ease;*/
  }

  /* Arrow base */
  .rp-arrow {
    width: 0;
    height: 0;
    border-style: solid;
  }

  /* OPEN → arrow DOWN */
  .rp-toggle.is-open .rp-arrow {
    border-width: 8px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
  }

  /* CLOSED → arrow LEFT */
  .rp-toggle.is-closed .rp-arrow {
    border-width: 6px 8px 6px 0;
    border-color: transparent #fff transparent transparent;
  }

  /*------------------*/
  #routePanel {
    position: absolute;
    top: 36px;
    left: 3px;
    background: rgba(35, 49, 57, 0.6);
    /*border: 1px solid #ccc; #999;*/
    border-radius: 8px;
    padding: 8px;
    width: 150px;
    max-height: 92%;
    overflow: hidden;
    /*overflow-y: auto;*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }
  #routeList {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 6px;
  }
  #routeList::-webkit-scrollbar {
    width: 4px; /* narrower scrollbar */
  }
  #routeList::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.5); /* thumb color */
    border-radius: 3px;
  }
  #routeList::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /*-------route pair buttons styling------------*/
  #routeList button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 4px;
    font-size: 11px;
    font-family: sans-serif;
    border-radius: 12px;
    border: 0.1px solid rgb(124, 123, 123);
    background: rgb(41, 54, 54);
    color: #ddd7db;
    cursor: pointer;
    transition: transform 0.2s ease;
    transform-origin: center;
    will-change: transform;
  }
  #routeList button:hover {
    /*transform: scale(1.1);*/
    background-color: #fbc965;
    color: black;
    z-index: 1;
  }

  /*--format route pair button when selected--*/
  #routeList button.selected-route {
    background-color: #fbc965;
    color: black;
    /*font-weight: bold;*/
    border: 1px solid black;
  }

  #routeFilters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    background: rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #888;
  }

  /*--Arr,Dep,Ovf buttons ---------------*/
  .filter-btn {
    flex: 1;
    padding: 4px;
    margin: 2px;
    color: #3f550f;
    font-size: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #b3afaf;
  }
  .filter-btn:hover {
    transform: scale(1.1);
    background-color: #fbc965;
    color: black;
  }

  .filter-btn.selected {
    background-color: #fbc965;
    color: black;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid black;
  }

  /*-----------------sector letter in colored area styling big letter---------------------*/
  .sector-label {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    color: rgba(255, 255, 255, 0.4) !important;
    font-size: 48px !important;
    font-family: sans-serif !important;
    font-weight: bold !important;
    text-align: bottom !important;
    opacity: 1 !important; /* Ensure container is fully visible; opacity is handled via rgba */
  }

  /* ----------------holding pattern tooltip styling----------------*/
  .leaflet-tooltip.holding-tooltip {
    background-color: rgba(10, 60, 70, 0.8);
    color: #d6d878;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 6px 10px;
    font-size: 10.5px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    z-index: 900 !important;
  }

  /* Remove the little arrow ("tip") */
  .leaflet-tooltip.holding-tooltip::before,
  .leaflet-tooltip.holding-tooltip::after {
    display: none !important;
  }

  /* Danger-Area Details tooltip top center*/
  .area-details-panel {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(10, 60, 70, 1);
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 13px;
    font-family: Arial, sans-serif;
    white-space: pre-line; /* Changed from pre-wrap to normal to collapse whitespace */
    display: none;
    text-align: left;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    line-height: 1.5; /* Reduced line-height for tighter spacing */
    z-index: 2000;
  }
  .area-details-panel strong {
    font-weight: bold;
  }
  #areaDetailsPanel::first-line {
    line-height: 0; /* tighten the top */
  }

  /*------------------------ Tooltip container ---------------------------------*/
  .tooltip-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: center;
    gap: 3px;
    pointer-events: auto; /* Allow interaction with tooltips */
    z-index: 1500;
  }

  .tooltip {
    padding: 6px 12px;
    background: #233139;
    color: white;
    font-size: 13px;
    font-family: monospace; /*"Roboto", sans-serif;*/
    border-radius: 12px;
    text-align: center;
    white-space: nowrap; /* Keep nowrap for single-line tooltips */
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    height: 14px;
    max-width: none;
    display: inline-block; /* Ensure individual width calculation */
    user-select: text; /* Allow text selection */
  }

  .is-hidden {
    display: none !important;
  }
  /*------ Specific styling for remarks tooltip --------*/
  #remarksOverlay.tooltip {
    background: rgba(191, 227, 209, 0.9);
    /*border: 1px solid rgba(134, 230, 173, 0.9);*/
    border-radius: 14px;
    color: #00252b;
    font-size: 13px;
    font-family: monospace;
    font-weight: bold;
    height: auto;
  }

  /*----Specific styling CFL_XFL tooltip at the ends of the route------*/
  .leaflet-tooltip.route-extra-label {
    background-color: rgba(191, 227, 209, 1) !important;
    color: #00252b !important;
    padding: 1px 7px;
    font-weight: bold;
    font-size: 11px;
    border: none;
    border-radius: 11px;
    position: absolute;
    z-index: 100;
  }

  /* Ensure map has relative positioning for absolute children */
  #map {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust based on  map height */
  }
  .leaflet-container {
    cursor: crosshair !important;
  }
  /* Pen tool cursor – FORCE it on all Leaflet panes */
  .leaflet-container.pen-cursor,
  .leaflet-container.pen-cursor * {
    cursor:
      url("./pen-cursor.png") 6 26,
      crosshair !important;
  }

  .leaflet-control-attribution {
    font-size: 12px;
    font-weight: 400;
  }

  /*add yellow spot at the end of the drawn route line*/
  .arrow-head {
    width: 3px;
    height: 3px;
    background: url('data:image/svg+xml;utf8,<svg fill="yellow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="75" cy="60" r="30"/></svg>')
      no-repeat center;
    background-size: contain;
    transform-origin: center;
  }

  .disclaimer-overlay {
    position: fixed;
    inset: 0;
    background: rgba(63, 68, 75, 0.404);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  .disclaimer-box {
    background: #2c2e3065;
    border: 1px solid #383b3b;
      backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    color: #f0f0f0;
    padding: 30px;
    max-width: 500px;
    border-radius: 12px;
    text-align: center;
    font-family: Roboto, sans-serif;
  }

  .disclaimer-box h2 {
    margin-bottom: 15px;
  }

  .disclaimer-box p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .disclaimer-box button {
    padding: 10px 18px;
    border: none;
    background: #b4f59d;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
  }

  .disclaimer-box button:hover {
    opacity: 0.9;
  }
